<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Sostenuti", admin_sponsorees_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Aggiungi</li>
  </ol>
</nav>
<%= render 'form', sponsoree: @sponsoree %>
